@model TranslatorStudioClassLibrary.Class.TranslationData

<div id="desk" class="row">
    <div id="mainDeskSection" class="row">
        <div id="rawSection" class="col-xs-6">
            <div class="row">
                @Html.LabelFor(Model => Model.CurrentRaw, new { @class = "control-label" })
            </div>
            <div class="row">
                @Html.TextAreaFor(Model => Model.CurrentRaw, new { @class = "form-control", style = "max-width: 100%; width: 80%;", @onkeypress = "updateCurrentRaw(translationData, this.value)" })
                @*<p>@Model.CurrentRaw</p>*@
            </div>
        </div>
        <div id="translationSection" class="col-xs-6">
            <div class="row">
                @Html.LabelFor(Model => Model.CurrentTranslation, new { @class = "control-label" })
            </div>
            <div class="row">
                @Html.TextAreaFor(Model => Model.CurrentTranslation, new { @class = "form-control", style = "max-width: 100%; width: 80%;", @onkeypress = "updateCurrentTranslation(translationData, this.value)" })
            </div>
            @*<input class="form-control" type="text" value="@Model.CurrentTranslation" />*@
        </div>
    </div>
    <div id="miscSection" class="row">
        <div id="checkSection" class="col-xs-12">
            <label class="checkbox-inline">
                @Html.CheckBoxFor(Model => Model.CurrentMarked, new { @checked = Model.CurrentMarked, @onchange = "updateCurrentMarked(translationData, this.value)" })
                @Html.DisplayNameFor(Model => Model.CurrentMarked)
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(Model => Model.CurrentCompletion, new { @checked = Model.CurrentCompletion, @onchange = "updateCurrentCompletion(translationData, this.value)" })
                @Html.DisplayNameFor(Model => Model.CurrentCompletion)
            </label>
        </div>
    </div>
</div>
<script src="~/Javascript/ProjectData.js"></script>
<script src="~/Javascript/TranslationData.js"></script>
<script src="~/Javascript/DeskHandler.js"></script>
<script src="~/Javascript/DeskSetup.js"></script>