@model TranslatorStudioClassLibrary.Class.TranslationData

<div id="preview" class="row">
    <table class="table table-striped">
        <tr>
            <th width="50%">Raw</th>
            <th width="50%">Translation</th>
        </tr>
        @for (int i = 0; i < Model.NumberOfLines; i++)
        {
            <tr>
                <td>@Model.RawLines[i]</td>
                <td>@Model.TranslatedLines[i]</td>
                @*<td>@furigana[i].ReadingHtml</td>*@
                @*<td><input class="form-control" type="text" value="@Model.TranslatedLines[i]" /></td>*@
            </tr>
        }
    </table>

    @*<div id="rawSection" class="col-xs-6">
        <div class="row">
            <label>Raw</label>
        </div>
        @foreach (var item in Model.RawLines)
        {
            <div class="row">
                <p>@item</p>
            </div>
        }
    </div>

    <div id="translationSection" class="col-xs-6">
        <div class="row">
            <label>Translation</label>
        </div>
        @foreach (var item in Model.TranslatedLines)
        {
            <div class="row">
                <input class="form-control" type="text" value="@item" />
            </div>
        }
    </div>*@

</div>