@model OnlineTranslatorStudio.Models.OnlineTranslationRequest

@{
    ViewBag.Title = "Translator Studio";
}
<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="col-12">
                <h2>Welcome to the Translator Studio</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#createTab">Create Project</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#openTab">Open Project</a></li>
                </ul>

                <div class="tab-content">
                    <div id="createTab" class="tab-pane fade show active">
                        <div class="row col-12">
                            <div class="form-group row col-12">
                                <h4>Create a New Translation Project</h4>
                            </div>
                            @using (Html.BeginForm("Dashboard", "Studio", FormMethod.Post, new { @class = "form-horizontal col-12", role = "form" }))
                            {
                                @Html.ValidationSummary(false);

                                <div class="form-group row">
                                    @Html.LabelFor(Model => Model.ProjectName, new { @class = "col-md-3 col-form-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(Model => Model.ProjectName, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(Model => Model.RawData, new { @class = "col-md-3 col-form-label" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(Model => Model.RawData, 10, 100, new { @class = "form-control", rows = "10" })
                                        @Html.ValidationMessageFor(Model => Model.RawData)
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <input class="btn btn-primary" type="submit" name="submit" value="Create" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="openTab" class="tab-pane fade">
                        <div class="row col-12">
                            <div class="form-group row col-12">
                                <h4>Open an Existing Translation Project</h4>
                            </div>
                            @using (Html.BeginForm("Dashboard", "Studio", FormMethod.Post, new { @class = "form-horizontal col-12", role = "form", enctype = "multipart/form-data" }))
                            {
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="project">Open Project</label>
                                    <div class="col-md-9">
                                        <input class="form-control-file form-control" placeholder="Load TSP or Text File" type="file" name="project" id="projectFile" accept="text/txt, text/tsp, .txt, .tsp" />
                                    </div>
                                    @*<label class="col-md-3 col-form-label" for="project">Open Project</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="projectFile" name="project" accept="text/txt, text/tsp, .txt, .tsp">
                                            <label class="custom-file-label" for="projectFile">Load TSP/Text file...</label>
                                        </div>
                                    </div>*@
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <input class="btn btn-primary" type="submit" name="submit" value="Open" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
